@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --input-color: #070707;
    --input-border: #000000;
    --input-background: rgba(211, 211, 211, 0.959);
    --input-placeholder: #5c4de7ef;
    --input-border-focus: #275efe;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #eef4ff;
    --group-color-focus: rgb(255, 255, 255);
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678efe;
}
.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
}
.form-field::placeholder {
    color: var(--input-placeholder);
}
.form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}
.form-group {
    position: relative;
    display: flex;
    width: 100%;
}
.form-group > span, .form-group .form-field {
    white-space: nowrap;
    display: block;
}
.form-group > span:not(:first-child):not(:last-child), .form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.form-group > span:first-child, .form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}
.form-group > span:last-child, .form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}
.form-group > span:not(:first-child), .form-group .form-field:not(:first-child) {
    margin-left: -1px;
}
.form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}
.form-group > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.form-group:focus-within > span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}
body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

    background: #ffffff;
}
body .form-group {
    max-width: 360px;
}
body .form-group:not(:last-child) {
    margin-bottom: 32px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox],
  input[type=radio] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    input[type=checkbox]:after,
  input[type=radio]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    input[type=checkbox]:checked,
  input[type=radio]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type=checkbox]:disabled,
  input[type=radio]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    input[type=checkbox]:disabled + label,
  input[type=radio]:disabled + label {
      cursor: not-allowed;
    }
    input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    input[type=checkbox]:focus,
  input[type=radio]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
      width: 21px;
    }
    input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
      opacity: var(--o, 0);
    }
    input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
      --o: 1;
    }
    input[type=checkbox] + label,
  input[type=radio] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  
    input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
    input[type=checkbox].switch {
      width: 38px;
      border-radius: 11px;
    }
    input[type=checkbox].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    input[type=checkbox].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    input[type=checkbox].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }
  
    input[type=radio] {
      border-radius: 50%;
    }
    input[type=radio]:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }
    input[type=radio]:checked {
      --s: .5;
    }
  }
  ul {
    margin: 12px;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 320px;
  }
  ul li {
    margin: 16px 0;
    position: relative;
  }
  
  html {
    box-sizing: border-box;
  }
  
  * {
    box-sizing: inherit;
  }
  *:before, *:after {
    box-sizing: inherit;
  }

@media (max-width: 800px) {
    body {
      flex-direction: column;
    }
  }  